body {
    background: #121314;
}

.container, .container-fluid {
    background: #bbbcdd;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.cell {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: solid 1px black;
    background-image: url('/woodLight.png');
    background-size: 110%;
}

.shaded {
    background-image: url('/woodDark.png');
    background-size: 110%;
}

/* todo */

.selected {

}

.board .black {

}

.board .white {

}

.board .burnt {

}


/* Something like this to style SVGs*/
tbc {
    fill: red;
    stroke: blue;
    stroke-width: 2px;
}
